* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title {
    text-decoration: underline;
}

.col-green { 
    color: green;
    font-size: 18px;
}
    
.col-red { 
    color: red;
    font-size: 18px;
}

